<!DOCTYPE html>
<html layout:decorate="~{global/layout}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="${@appConfig.siteName}"></title>
</head>

<body>

<header layout:fragment="header">
    <h1 th:text="|${@appConfig.siteName}|"></h1>

    <a class="btn btn-link" href="/">홈</a>
    <a class="btn btn-link" href="/book/list">책</a>
    <a class="btn btn-link" href="/product/list">상품</a>
    <a class="btn btn-link" th:if="${@rq.admin}" href="/adm">관리자 홈</a>
    <a class="btn btn-link" th:if="${@rq.login}" href="/product/bookmarkList">찜 상품</a>
    <a class="btn btn-link" th:if="${@rq.login}" href="/cart/list">장바구니</a>
    <a class="btn btn-link" th:if="${@rq.login}" href="/order/myList">주문</a>
    <a class="btn btn-link" th:if="${@rq.login}" href="/member/logout">로그아웃</a>
    <a class="btn btn-link" th:if="${@rq.login}" href="/book/myList">내 책</a>
    <a class="btn btn-link" th:if="${@rq.login}" href="/product/myList">내 상품</a>
    <a class="btn btn-link" th:if="${@rq.login}" href="/member/logout">로그아웃</a>
    <a class="btn btn-link" th:if="${@rq.logout}" href="/member/login">로그인</a>
    <a class="btn btn-link" th:if="${@rq.logout}" href="/member/join">회원가입</a>
</header>

</body>

</html>